/*
name: Trey Gardner
project: dev-thoughts
description:
    This project is how I will hone my ability to create and deploy a website that is created 
    entirely in raw html, css, and javascript. This website will allow me to post about anything
    I feel like sharing with the world.
*/

.resume-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px;
    background-color: #0c4532;
    height: 1200px;
    width: 950px;
    border-radius: 50px;
    margin-left: 100px;
}
